@page "/"
@layout MainLayout

<h1>Impact Calculator</h1>

<div>
    Attack vector:
    <select name="attackVector" id="attackVector" @bind="attackVector">
        <option value="Physical">Physical</option>
        <option value="Local">Local</option>
        <option value="AdjacentNetwork">Adjacent Network</option>
        <option value="Network">Network</option>
    </select>
</div>

<div>
    Attack complexity:
    <select name="attackComplexity" id="attackComplexity" @bind="attackComplexity">
        <option value="Low">Low</option>
        <option value="High">High</option>
    </select>
</div>

<div>
    Privileges required:
    <select name="privilegesRequired" id="privilegesRequired" @bind="privilegesRequired">
        <option value="None">None</option>
        <option value="Low">Low</option>
        <option value="High">High</option>
    </select>
</div>

<div>
    User interaction:
    <select name="userInteraction" id="userInteraction" @bind="@userInteraction">
        <option value="None">None</option>
        <option value="Required">Required</option>
    </select>
</div>

<div>
    Scope:
    <select name="scope" id="scope" @bind="scope">
        <option value="Unchanged">Unchanged</option>
        <option value="Changed">Changed</option>
    </select>
</div>

<div>
    Confidentiality Impact:
    <select name="confidentialityImpact" id="confidentialityImpact" @bind="confidentialityImpact">
        <option value="None">None</option>
        <option value="Low">Low</option>
        <option value="High">High</option>
    </select>
</div>

<div>
    Integrity Impact:
    <select name="integrityImpact" id="integrityImpact" @bind="integrityImpact">
        <option value="None">None</option>
        <option value="Low">Low</option>
        <option value="High">High</option>
    </select>
</div>

<div>
    Availability Impact:
    <select name="availabilityImpact" id="availabilityImpact" @bind="availabilityImpact">
        <option value="None">None</option>
        <option value="Low">Low</option>
        <option value="High">High</option>
    </select>
</div>

<div>
    <button @onclick="CalculateAsync">Calculate</button>
</div>

<div>
    Vector string:
    <label id="vectorString">@vectorString</label>
</div>

<div>
    Score:
    <label id="score">@score</label>
</div>

<div>
    Severity:
    <label id="severity">@severity</label>
</div>